#app {

    .main-container {
        min-height: 100%;
        transition: margin-left 0.28s;
        margin-left: $sideBarWidth;
        position: relative;
    }

    .sidebar-container {
        transition: width 0.28s;
        width: $sideBarWidth !important;
        background-color: $menuBg;
        height: 100%;
        position: fixed;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;

        .el-menu {
            border: none;
        }
    }

    .hideSidebar {
        .sidebar-container {
            width: 54px !important;
        }

        .el-menu--collapse {
            width: 54px;
        }

        .main-container {
            margin-left: 54px;
        }

        .el-menu-item .el-menu-tooltip__trigger,
        .el-sub-menu__title {
            padding-right: 20px;
            justify-content: center;
        }

        .el-menu-item .el-menu-tooltip__trigger {
            .el-icon {
                margin-right: 0;
            }
        }
    }
}